.cart {
    border: 1px solid white;
    background-color: darkslateblue;
    box-shadow: 0 0 #8a2be2;
    padding: 2% 5% 0 5%;
    color: wheat;
    font-size: larger;
} 
.order {
    display: flex;
    justify-content: center;
    font-size: large;
}
.cart > div {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
.cart input {
    background: white;
    border: 0;
    cursor: pointer;
}
.cart > div > div > div {
    flex: 1;
}