div > div > div > h1 {
    display: flex;
    justify-content: center;
}
label * {
    margin: 2vh 3vw;
}
.add {
    display: flex;
    justify-content: end;
    margin-top: 2vh;
}
.create {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}
.stock {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.create > button {
    font-size: larger;
}
.all + div > div > div {
    display: flex;
    justify-content: center;
}
